*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
.body{

 
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
  
    position: relative;

}
.text::after{
    content: '|';
    position: absolute;
    right: -1px;
    color:blue;

    width: 100%;
   
}
.body:hover .text::after{
    animation: typing 3s steps(17) forwards;
   
  
}
@keyframes typing {
    to{
    width: 0%;
    }
}

