.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background:rgb(209, 242, 255);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  max-height: 70%;
  overflow-y: auto;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-content .modal-text {
  margin-top: 20px;
}

.close-modal-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.btn {
  
  width: fit-content;
  color:black;
  background-color: rgb(12, 237, 162);
 border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  position: relative;
  z-index: 1;  
}

  .btn::before {
      content: "";
      position: absolute;
      background-color:rgb(8, 173, 118);
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0px;
      z-index: -1;
      border-radius: 10px;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.4s;
    }
    .btn:hover::before {
      transform: scaleX(1);
    }
    .btn:hover {
      color: white;
      transform: translateY(-7px);
    }
    .btn:active{
      transform: translateY(-1px);
    }