.Container{
    padding: 0;
    box-sizing: border-box;
}


 .btn-pin {
        background-color: var(--bgOrange);
        width: fit-content;
        color:black;
        background-color: rgb(12, 237, 162);
        padding: 0.8rem 2.3rem;
       border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.2s;
        font-weight: 500;
        
        position: relative;
        z-index: 1;  
    }

        .btn-pin::before {
            content: "";
            position: absolute;
            background-color:rgb(8, 173, 118);
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0px;
            z-index: -1;
            border-radius: 10px;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.4s;
          }
          .btn-pin:hover::before {
            transform: scaleX(1);
          }
          .btn-pin:hover {
            color: white;
          }





 .card {
   border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    z-index: 1;   
        }
    
.card::before {
content: "";
position: absolute;
background-color:rgb(247, 158, 222);
top: 0px;
left: 0;
right: 0;
bottom: 0px;
z-index: -1;
border-radius: 50px;
transform: scaleX(0);
transform-origin: left;
transition: all 0.8s;
 }
.card:hover::before {
transform: scaleX(1);
 }
 .card:hover .btn-pin3 {
    transform: scaleX(1);
 }




/* <------------------------------------> */

.btn-pin3 {
    background-color: var(--bgOrange);
    width: fit-content;
    margin-left: 2px;
    color:black;
    background-color: rgb(163, 248, 144);
    padding: 0.3rem 1rem;
    border: solid 3px transparent;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border-radius: 0.625rem;
    transform: scaleX(0);
    position: relative;
    z-index: 1;  
}

    .btn-pin3::before {
        content: "";
        position: absolute;
        background-color:rgba(49, 248, 66, 0.808);
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0px;
        z-index: -1;
        border-radius: 0.625rem;
        transform: scaleX(0);
        visibility: hidden;
        transform-origin: left;
        transition: all 0.4s;
      }
      .btn-pin3:hover::before {
        transform: scaleX(1);
        visibility: visible;
      }
      .btn-pin3:hover {
       
        color: white;
      }    
/* <------------------------------------> */
    
.shadow{
 box-shadow: 15px 15px 5px grey;
}


.homedata{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:rgb(247, 247, 247);
   
    z-index:5;
    gap:1em;
    transition:all 0.4s;
}
.crousel:hover .homedata{
    transform:scale(1.1);
   
}

.slide-left{
   
    transform: scaleX(0);
    transition: all 0.8s;
    transform-origin: right;
}
.slide-right{

    transform: scaleX(0);
    transition: all 0.8s;
    
    transform-origin: left;
   
}
.second:hover .slide-left{
  
    transform: scale(1);
}

.second:hover .slide-right{
    transform: scale(1);
}

.slide-bottom{  
   transform: scale(0);
    transition: all 0.8s;
    transform-origin: top;
}
.text1:hover .slide-bottom{
    transform: scale(1);
}

.blockglow::before , .blockglow::after{
    content: "";
    position:absolute;
    left: -2px;
    top: -2px;
    border-radius: 1.6rem;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
   

}
.boxes:hover .blockglow::before{

animation: animate 20s linear infinite; 
}
.boxes:hover .blockglow::after{

    animation: animate 20s linear infinite; 
    }
@keyframes animate {
    0%{
        background-position: 0 0;
    }       
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.boxes:hover .blockglow::after{
    filter: blur(30px);
}


.scale:hover{
    transform: scale(1.2);
}
